<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style4.css">
    <link rel="shortcut icon" href="e1.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div id="slide">
            <div class="item" style="background-image: url(1.jpeg);">
                <div class="content">
                    <div class="name" name="darkChocolate">DARK_CHOCOLATE</div>
                    <div class="des">Dark chocolate is rich in minerals, such as
                        iron, magnesium, and zinc. it can have v
                        arious health benefits, including reducing inflammation
                        and decreasing the risk of heart disease</div>
                </div>
            </div>

            <div class="item" style="background-image: url(2.jpeg);">
                <div class="content">
                    <div class="name" name="avocado">Avocado_Bruschetta</div>
                    <div class="des"> Avocados contain
                        a good amount of vitamin E, an antioxidant that
                        protects brain cells from free radicals caused by pollutio
                        smoking, and food digestion.
                        Pistachio-and-Parmesan-Crusted Halibut
                    </div>
                </div>
            </div>


            <div class="item" style="background-image: url(3.jpeg);">
                <div class="content">
                    <div class="name" name="pista">Pistachio-and-Parmesan-Crusted Halibut</div>
                    <div class="des">Pistachio nuts contain lutein
                        repairs damage in the brain caused by
                        free radicals, unstable molecules, smoking, and pollution.</div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
            <button id="next"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>
    </form>
    <script src="script.js"></script>
</body>

</html>