<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COOKINEER</title>
    <link rel="shortcut icon" href="image.jpg" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="page1">
        <div id="nav">
            <a href="home"><img src="image.jpg" alt=""></a>
            <a href="home">HOME</a>
            <a href="#famous-foods">Famous Foods</a>
            <a href="#famous-rest">Famous Restaurants</a>
            <a href="mood">MOOD BASED</a>
            <a href="login">LOGIN</a>
            <a href="signup">SIGN UP</a>
        </div>
        <h1>Welcome To Our Website</h1>
        <div id="f1">
            <div id="about">
                <h2>About Our Website</h2>
                <p>A Website Wherein You Get To Meet The Foods OF Your Moods.<br>
                    We Suggest You Satisfying Foods That Will Satisfy Your Desire<br>
                    Happy Eating!!! &#128523;
                </p>
            </div>
            <div id="service">
                <h2>Our Services</h2>
                <div class="ser">
                    <div class="servs">
                        <h3>Famous-Foods</h3>
                        <p>We Display The Top 4 Most Favourite Foods of India.
                            <br>
                            Wherein The Top 4 Foods Are Displayed Based On The google Search.
                        </p>
                    </div>
                    <div class="servs" style="width: 60%;">
                        <h3>Famous-Restaurants</h3>
                        <p>Here We Display The Top 3 Most Famous Restaurants <br>
                        Wherein We Showcase The Restaurant's Small Description and also The Location Of The Restaurant.</p>
                    </div>
                    <div class="servs" style="border: none;">
                        <h3>Mood-Based</h3>
                        <p>Here Comes The Main Component Of Our Website That is The <q>Mood-Based</q>Food Suggestion Page. <br>
                        Wherein The User Selects A Particular Mood And A list Of Foods Will Displayed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="famous-foods">
        <h1 id="fa">FAMOUS FOODS OF INDIA</h1>
        <div id="food1" class="food"><img src="biryani1.jpg" alt="">
            <p>HYDERABADI BIRYANI</p>
        </div>
        <div id="food2" class="food">
            <img src="dosa.jpg" alt="">
            <p>Dazzling Dosa DelighT</p>

        </div>
        <div id="food3" class="food">
            <img src="wada.jpg" alt="">
            <p>Crispy Medu Vada Delight</p>

        </div>
        <div id="food4" class="food">
            <img src="Poha.jpg.webp" alt="">
            <p>Poha Magic: A Culinary Marvel</p>

        </div>
    </div>
    <div id="famous-rest">
        <h1>FAMOUS RESTAURANTS OF INDIA</h1>
        <div id="r1">
            <img src="res1.png" alt="Rest">
            <div>
                <h2>The BOMRAS GOA - RESTAURANT</h2>
                <p class="des">This outdoor restaurant dishes up high-end Burmese cuisine on a hidden terrace, shaded by
                    trees.
                    Service options: Reservations required · Has outdoor seating · Serves vegan dishes
                </p>
            </div>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3843.1769424954086!2d73.75004287512571!3d15.582192285028873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfc193d6ad0559%3A0x5e0b2d029e7af544!2sBomras!5e0!3m2!1sen!2sin!4v1701962174009!5m2!1sen!2sin"
                    style="border:0;" allowfullscreen="" height="100%" width="400px" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="r2">
            <img src="res2.png" alt="">
            <div>
                <h2>The Masque Mumbai</h2>
                <p class="des">Modern Indian set menus with foraged ingredients in an eclectic, high-ceilinged
                    industrial space.
                    Service options: Reservations required · Has fireplace · Has private dining room</p>
            </div>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15090.711743516023!2d72.8256177!3d18.9898258!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce8af24717d9%3A0xae1b5b0526d83ff6!2sMasque!5e0!3m2!1sen!2sin!4v1702620060225!5m2!1sen!2sin"
                    height="100%" width="400px" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="r3">
            <img src="res3.png" alt="">
            <div>
                <h2>Indian Accent, The Lodhi, New Delhi
                </h2>
                <p class="des">Contemporary twists on Indian cuisine served at this refined restaurant with glass walls
                    & ceilings.
                    Service options: Reservations required · Has all you can eat · Has outdoor seating</p>
            </div>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14013.058971764965!2d77.2382224!3d28.5918336!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd309eebed77%3A0xfd133b52e7612c26!2sIndian%20Accent!5e0!3m2!1sen!2sin!4v1701963095836!5m2!1sen!2sin"
                    height="100%" width="400px" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="f1">
            <h1>COOKINEER</h1>
            <p>A Website Where The Mood Meets The Food</p>
            <p>Contact Us &#128222;+91-222-222-4444 | &#128231;cookineer@gmail.com</p>
        </div>
        <p id="link">
            <a href="#"><img src="l1.png" alt=""></a>
            <a href="#"><img src="l2.png" alt=""></a>
            <a href="#"><img src="l3.jpg" alt=""></a>
        </p>
        <p class="f1">Copyright &copy; RAHUL |ABDUR | VIJAY</p>
    </div>
    <script src="script2.js"></script>
</body>

</html>