<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOOD-BASED-FOOD-SUGGESTION</title>
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <h1>WELCOME</h1>
    <hr style="height: 3px;background-color: black;">
    <p>Please Select In Which Mood You Are in</p>
    <a href="happy" id="happy">
            <img src="https://media.giphy.com/media/10UeedrT5MIfPG/giphy.gif" alt="a gif">
            <label for="happy">HAPPY</label>
    </a>
    
    <br>
    <a href="sad" id="sad">
            <img src="https://media.giphy.com/media/7SF5scGB2AFrgsXP63/giphy.gif" alt="gif">
            <label for="emotion">SAD</label>
    </a>
    <br>
    <a href="angry" id="angry">
        <img src="https://media.giphy.com/media/GjR6RPcURgiL6/giphy.gif" alt="gif">
        <label for="emotion">ANGRY</label>
    </a>
</body>
</html>