<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style4.css">
    <link rel="shortcut icon" href="e2.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div id="slide">
            <div class="item" style="background-image: url(4.jpg);">
                <div class="content">
                    <div class="name">MAC_AND_CHEESE</div>
                    <div class="des">A bowl of pasta can really do the body good. Nutritionist Laura Cipullo considers it one of those endorphin-inducing foods that we love to love.
                        "Pasta is a well-known carbohydrate," she says. "Carbohydrates are often thought of as comfort foods because they make us feel good. Carbs actually help to increase the availability of the neurotransmitter known as serotonin. Low levels of serotonin are associated with depression."
                        </div>
                    <button>See_more</button>
                </div>
            </div>


            <div class="item" style="background-image: url(5.jpg);">
                <div class="content">
                    <div class="name">ICE_CREAM</div>
                    <div class="des"> More than just a yummy frozen treat, ice cream might the most delicious endorphin-inducing food there is. As Cipullo points out, "Ice cream is high in sugar and fat. It is deliciously palatable. High carb/high fat dishes can signal our brain to release the neurotransmitter dopamine, which aids in our ability
                        to experience pleasure." The science of why ice cream makes us feel so great is just the cherry on top of this delicious dessert.
                        </div>
                    <button>See more</button>
                </div>
            </div>


            <div class="item" style="background-image: url(6.jpg);">
                <div class="content">
                    <div class="name">STRABERRIES</div>
                    <div class="des">These sweet fruits taste good, but strawberries also are jam-packed with vitamin C, which helps in the production of endorphins. Like bananas, strawberries' potassium aids in the generation of nerve impulses, while the red color caused by a flavonoid can lift our mood. Flavonoids are also powerful antioxidants, assisting in the removal of harmful toxins from the body. So packing a few more juicy 
                        strawberries for your next picnic might not be a bad idea
                        istachio nuts contain lutein 
                        repairs damage in the brain caused by 
                        free radicals, unstable molecules, smoking, and pollution.</div>
                    <button>See_more</button>
                </div>
            </div>




        </div>
        <div class="buttons">
            <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
            <button id="next"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
