<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGNUP</title>
  <link rel="stylesheet" href="style3.css">
</head>

<body>
  <div class="background"></div>
  <div class="f-cont">
    <h2>SignUp</h2>
    <form action="/signup" method="post">
      <div class="fg">
        <label for="name">Username:</label>
        <input type="text" placeholder="Enter Your Name" name="username" id="name" required autocomplete="off">
      </div>
      <div class="fg">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="password" required>
      </div>
      <button type="submit" id="sbutton">
        Submit
      </button>
    </form>
  </div>
  <script src="script4.js"></script>
</body>

</html>
